/* =============================================================================
   Fonts
   ============================================================================= */

   /* INSERT YOUR FONT IMPORTS HERE */
    @import url('https://fonts.googleapis.com/css?family=Karla|Vesper+Libre');
/* =============================================================================
   HTML5 CSS Reset
   ============================================================================= */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


/* =============================================================================
   My CSS
   ============================================================================= */

/*-------------------*/
/* ---- General ---- */
/*-------------------*/

*{
  box-sizing: border-box;
}

/*----background gradient-------*/

.grad1{
  animation: col1 30s linear infinite;
}

.grad2{
  animation: col2 30s linear infinite;
}

@keyframes col1{
  0% {stop-color: #5F4B8B}
  25% {stop-color: #0078A7}
  50% {stop-color: #FF7913}
  75% {stop-color: #D32E5E}
  100% {stop-color: #5F4B8B}
}

@keyframes col2{
  0% {stop-color: #D32E5E}
  25% {stop-color: #FF7913}
  50% {stop-color: #0078A7}
  75% {stop-color: #5F4B8B}
  100% {stop-color: #D32E5E}
}

rect{
  width: 100vw;
  height: 100vh;
  position: relative;
  opacity: .75;
}

.page-background{
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/*----hero page-----*/

.navigation{
  position: absolute;
  top: 4em;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
}

  .logo{
    display: inline;
    text-align: right;
  }
    .logo-sig-svg{
      max-height: 92px;
      max-width: 100%;
    }

  .nav-menu{
    font-family: Karla;
    font-size: 24px;
    display: inline;
    text-align: right;
  }

      .nav-item{
        display: inline;
        padding-left: 32px;
      }

.hero{
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -1;
}

  .background-img{
    background: url("../images/background-sunset.jpg") center bottom no-repeat;
    background-size: cover;
    height: 100vh;
  }


/*----about page-------*/
.about{
  display: inline-block;
}

.about-title{
  font-family: karla;
  font-size: 44px;
  width: 50%;
}

.about-content{
  font-family: 'Vesper Libre', serif;
  width: 50%;
}

/*----media queries-------*/

/*--where nav begins to break---*/
@media (max-width: 960px){

}

/*---mobile---*/
@media (max-width: 320px){

}
