*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #2E3138;
  font-family: 'Karla', helvetica neue, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 21px;
  overflow-x: hidden;
}
