@import 'ol/ol.css';

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #2E3138;
  font-family: 'Poppins', helvetica neue, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 21px;
  overflow-x: hidden;
  cursor:  url('/static/SVG/cursors/arrow.svg'), auto;
}

a:-webkit-any-link {
  cursor: url('/static/SVG/cursors/pointer.svg'), pointer;
}